.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number {
  display: block;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: #516cff;
}
