.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 128px;
}

.title {
  margin: 0;
  font-size: 32px;
}

.number {
  display: block;
  text-align: center;
  font-size: 128px;
}
